<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/edit.css"}) %>
<body>
    <%- include('../partials/nav-bar') %>
        <main>
            <div>
                <h2 class="titulos">Edita tu producto: <i><%= toEdit.product_name %></i></h2>
                <div class="errors">
                    <ul></ul>
                </div>
                <h3 class="titulos">Informacion Del Producto</h3>
                <form class="cuestionario" action="/products/edit/<%=toEdit.product_id%>" method="POST" nctype="multipart/form-data">
                    <label class="titulos">Categoria del producto:</label>
                    <br>
                    <select name="category_id">
                        <option value="1">Destacado</option>
                        <option value="2">Deporte</option>
                        <option value="3">Hombre</option>
                        <option value="4">Mujer</option>
                        <option value="5">Niño</option>
                    </select>
                    <br>
                    <label class="titulos">Nombre Del producto:</label>
                    <br>
                    <input name="product_name" type="text" value="<%= toEdit.product_name %>" id="product_name">
                    <% if (locals.errors && errors.name1) { %>
                        <div class="errores">
                            <%= errors.name1.msg%>
                        </div>
                        <% } %>
                    <br>
                    <label class="titulos">Descripcion del producto</label>
                    <br>
                    <textarea name="product_description"  id="product_description" ><%= toEdit.product_description %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class="errores">
                            <%= errors.description.msg%>
                        </div>
                        <% } %>
                    <br>
                    <label class="titulos">Precio Del producto:</label>
                    <br>
                    <input name="product_price"  type="text" value="<%=toEdit.product_price %>" id="product_price">
                    <% if (locals.errors && errors.price) { %>
                        <div class="errores">
                            <%= errors.price.msg%>
                        </div>
                        <% } %>
                    <br>
                    <label class="titulos">Imagen del producto:</label>
                    <br>
                    <input class="boton-imagen" type="file" name="product_image" value="<%= toEdit.product_image %>" accept=".jpg,.png,.jpeg,.gif" multiple>
                    <br>
                    <input class="guardar" value="Guardar" type="submit" id="guardar">
                </form>
            </div>
        </main>
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/js/validationProduct.js"></script>
    </body>
</html>