<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{url:"/css/product-detail.css"}) %>

  <body>
    <%- include('../partials/nav-bar') %>
      <main>
        <div class="container products-wrapper">
          <div class="product-detail">
            <div class="row">
              <div class="col-12 col-lg-8">
                <img src="/images/ropa-deportiva/<%= resultado.product_image %>" alt="product images"
                  class="product-detail-img" />
              </div>
              <div class="col-12 col-lg-4">
                <article class="product-detail-info">
                  <h2 class="product-detail-title">
                    <%= resultado.product_name %>
                  </h2>
                  <p class="product-detail-price">
                    <%= new Intl.NumberFormat('es-CO', { style: 'currency' , currency: 'COP'
                      }).format(resultado.product_price) %>
                  </p>


                  <ul class="actions-list mb-3">
                    <li>
                      <i class="fas fa-credit-card"></i>
                      <p>Pagá en 12 cuotas sin interés</p>
                    </li>
                    <li>
                      <i class="fas fa-store"></i>
                      <p>Retiro gratis en locales del vendedor</p>
                    </li>
                  </ul>

                  <div class="d-flex flex-column align-items-center">
                    <button href="#" class="now-button blue-button mb-3">Agregar al carrito</button>
                    <button href="#" class="now-button pink-button">Comprar ahora</button>
                  </div>
                  <hr />

                  <p class="product-detail-description">
                    <%= resultado.product_description %>
                  </p>

                  <div class="d-flex flex-column align-items-center">
                    <button href="/products/edit/<%= resultado.product_id %>" class="now-button pink-button mb-3">Editar
                      producto</button>
                    <form action="/products/delete/<%= resultado.product_id %>" method="POST"
                      style="display: inline-flex">
                      <button type="submit" class="now-button blue-button">Eliminar</button>
                    </form>
                  </div>


                </article>
              </div>
            </div>
          </div>
        </div>
      </main>

      <%- include('../partials/footer') %>
        </div>
        </div>
  </body>

</html>