<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head',{url:"/css/product-detail.css"}) %>
  <body>
        <%- include('../partials/nav-bar') %>
        <main>
          <div class="container products-wrapper">
             <div class="product-detail">
              <div class="row">
                <div class="col-12 col-lg-8">
                  <img
                    src="/images/ropa-deportiva/<%= resultado.product_image %>"
                    alt="product images"
                    class="product-detail-img"
                  />
                </div>
                <div class="col-12 col-lg-4">
                  <article class="product-detail-info">
                    <h2 class="product-detail-title"><%= resultado.product_name %></h2>
                    <!-- <p class="product-detail-price small">
                      <span>$PRICE</span>
                      /
                      <b>DISCOUNT % OFF</b>
                    </p>-->
                    <p class="product-detail-price">$<%= resultado.product_price%></p>
                    

                    <ul class="actions-list">
                      <li>
                        <i class="fas fa-credit-card"></i>
                        <p>Pagá en 12 cuotas sin interés</p>
                      </li>
                      <li>
                        <i class="fas fa-store"></i>
                        <p>Retiro gratis en locales del vendedor</p>
                      </li>
                    </ul>

                    <a href="#" class="now-button cart-button"
                      >AGREGAR AL CARRITO</a
                    >
                    <a href="#" class="now-button buy-button">COMPRAR AHORA</a>
                    <hr />

                    <a
                      href="/products/edit/<%= resultado.product_id %>"
                      class="action-button edit"
                      >EDITAR PRODUCTO</a
                    >
                    <form
                      action="/products/delete/<%= resultado.product_id %>"
                      method="POST"
                      style="display: inline-flex"
                    >
                      <button type="submit" class="action-button delete">ELIMINAR</button>
                      
                    </form>
                    <p class="product-detail-description">
                      <%= resultado.product_description %>
                    </p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </main>

        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
