<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/login.css"}) %>

    <body>

        <%- include('../partials/nav-bar') %>
            <main>
                <div class="register-container m-3">
                    <h2 class="text-center">Iniciar Sesión</h2>
                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" autocomplete="off" type="email" class="form-control" id="email"
                                    name="email" required placeholder="Email"
                                    value="<%= locals.old && old.email ? old.email:'' %>" required>
                                <% if (locals.errors && errors.email){%>
                                    <div class="errores">
                                        <%= errors.email.msg%>>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="input-group mb-3">
                                <input autocomplete="off" type="password" class="form-control" id="password"
                                    name="password" required placeholder="Contraseña">
                                <% if (locals.errrors && errors.password){%>
                                    <div class="errores">
                                        <%= errors.password.msg%>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" name="remember" type="checkbox" value=""
                                            id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Recordar usuario
                                        </label>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <a href="">
                                        ¿Olvido contraseña?
                                    </a>
                                </div>
                            </div>
                            <div class="text-center row my-2">
                                <p>¿No tienes cuenta? <a href="/auth/register">Registro</a></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn-register" type="submit">Ingresar</button>
                        </div>
                        <p class="text-center my-2">- or -</p>
                        <div class="text-center">
                            <button class="btn-facebook mb-3" type="submit"><i class="fab fa-facebook"></i> Facebook</button>
                        </div>
                        <div class="text-center">
                            <button class="btn-google" type="submit"><i class="fab fa-google"></i> Google</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>