<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/login.css"}) %>

    <body>
        <%- include('../partials/nav-bar') %>
            <main>
                <div class="bord">
                    <div class="card">
                        <h2 class="cuestionario">INICIAR SESIÓN</h2>
                        <div>
                            <div class="errors">
                                <ul></ul>
                            </div>
                        <form action="/auth/login" method="POST">
                            <div class="botones">
                                <input type="email" name="email" placeholder="correo electronico" id="user_email" value="<%= locals.old && old.email ? old.email:'' %>" required><br>
                                <% if (locals.errors && errors.email){%>
                                <div class="errores">
                                    <%= errors.email.msg%>
                                </div>
                                <% } %>
                                <input  type="password" name="password" placeholder="contraseña" id="user_password" required><br><br>
                                <% if (locals.errrors && errors.password){%>
                                <div class="errores">
                                    <%= errors.password.msg%>
                                </div>
                                <% } %>
                            <label>
                                <input type="checkbox" name="remember">
                                <span class="checkbox"></span>
                                Recordar usuario</label><br>
                                <div>
                                    <button class="continuar" type="submit" id="ingresar">INGRESAR</button>
                                </div>
                            </div>
                        </form>
                        <h2 class="cuestionario"> Tambien puedes iniciar sesión con:</h2>
                        <form action="/auth/login">
                            <div class="inicio-con-red">
                                <a
                                href="https://www.facebook.com/?stype=lo&jlou=AfekAlCjMgtFUGarvZHUOYCJeL1zyN-UrBmfGfSUbXxKtOT92SY-cSyr2qaR5Ao_bvxDkIhm_90YgdPFiYYgSQXyjnSgbMZQn5ztbJJdRgI01Q&smuh=53745&lh=Ac9i6fFuxRY8Q-3Vd18"><i
                                class="fab fa-facebook"></i></a>
                                <a
                                href="https://accounts.google.com/v3/signin/identifier?dsh=S352459982%3A1672939679361549&authuser=0&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3Dsign_in_no_continue%26pli%3D1&ec=GAlAwAE&hl=es_419&service=accountsettings&flowName=GlifWebSignIn&flowEntry=AddSession"><i
                                class="fab fa-google"></i></a>
                            </div>
                        </form>
                    <h2 class="cuestionario">¿No tienes cuenta?</h2>
                    <form class="botones" action="/auth/register">
                        <a href="/auth/register">
                            <button class="registro" type="submit"> Registrate aqui</button>
                        </a>
                    </form>
                    </div><br>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
        <script type="text/javascript" src="/js/validationLogin.js"></script>
    </body>

</html>