<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{url:"/css/profile.css"}) %>

    <body>
        <%- include('../partials/nav-bar') %>
            <main>
                <div class="bord">
                    <div class="card">
                        <h2>Hola este es tu Perfil: <i class="info"><%=u.user_firstName%></i></h2><br>
                        <img src="/image/user<%=u.user_image%>" alt="" class="image-user"><br>
                        <h3>Tu email: <i class="info"><%=u.user_email%></i></h3>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>