<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{url:"/css/register.css"}) %>

    <body>
        <%- include('../partials/nav-bar') %>
            <main>
                <form action="/auth/create" method="post" class="formGroup">
                    <h2>Formulario de Registro</h2>
                    <div class="inputContainer">
                        <label for="">Nombres:</label>
                        <input class="inputRegister" type="text" name="name" value="<%= name %>">
                    </div>
                    <div class="inputContainer">
                        <label for="">Apellidos:</label>
                        <input class="inputRegister" type="text" name="lastName" value="<%= lastName %>">
                    </div>
                    <div class="inputContainer">
                        <label for="">Email:</label>
                        <input class="inputRegister" type="email" name="email" value="<%= email %>">
                    </div>
                    <div class="inputContainer">
                        <label for="">Contraseña:</label>
                        <input class="inputRegister" type="password" name="password" value="<%= password %>">
                    </div>
                    <div class="inputContainer">
                        <label for="">Confirmar Contraseña:</label>
                        <input class="inputRegister" type="password" name="passwordRepeat"
                            value="<%= passwordRepeat %>">
                    </div>
                    <input type="submit" class="btn-register" value="Registrar">
                </form>

                <% if (typeof errorMessage !=="undefined" ) { %>
                    <div class="errorBanner">
                        <p>
                            <i class="fas fa-exclamation-triangle"></i>
                            <%= errorMessage %>
                        </p>
                    </div>
                    <% } %>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>